# Copied from https://black.readthedocs.io/en/stable/integrations/github_actions.html
name: Lint

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@stable
